.chapters {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  padding: 3rem 0;
  text-align: center;
}

@media(max-width: 830px) {
  .chapters {
    margin: 0 1rem;
  }
}