.chapters {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 2rem;
  margin: 0 2rem;
  background-color: var(--background);
  padding: 3rem 0;
  text-align: center;
}

@media(max-width: 830px) {
  .chapters {
    margin: 0 1rem;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
}